#container-fluid {
    background-color: #000;
}
#jumbotron {
    margin-top: 30px;
}

.container {
    position: relative;
    height: 14rem;
}
.main-container {
    margin-left: 170px;
    margin-right: 170px;
    width: auto;
}
a {
    color: #17a2b8
}

.align-vertical {
    justify-content: center;
    align-items: center;
    padding: 120px 0;
}
body {
    background-color: #f1f2f3;
    background-image: url("linen.jpg");
    background-repeat: repeat;

}
p .centred {
    text-align: center;
}
.navbar a:hover {
    color: #ddd;
    text-decoration: none;

}
.posts-container {
    overflow:hidden;
    height:1%;
}
.post {
    height: auto;
    overflow: auto;
    border: #1d2124;
    border-style: solid;
    border-radius: 4px;
}

.footer a:hover {
    color:#000;
}

