html {
 position: relative;
 min-height: 100%;
}

body {
    background-color: #f1f2f3;
    background-image: url("linen.jpg");
    background-repeat: repeat;

}

a {
    color: #17a2b8;
}

p .centred {
    text-align: center;
}

.postbody {
 margin-left: 6px;
  
}
.title {
 margin-top: 6px;
 margin-left:6px; 
 
}
.title a:hover {
 color: #ddd;
 text-decoration: none;
}
.date { 
 margin-left: 6px;
}

.jumbotron {
    margin-top: 30px;
}
.addpost {
 margin-left: 170px;
 margin-right: 170px;
}
/*.container {
    position: relative;
    height: 14rem;
}*/

.fa-exclamation {
 color: black;
}
.main-container {
    margin-left: 210px;
    margin-right: 210px;
   
}

.align-vertical {
    justify-content: center;
    align-items: center;
    padding: 120px 0;
}

.navbar a:hover {
    color: #ddd;
    text-decoration: none;

}

.border {
    border: #e5e6e5;
    border-style: solid;
    border-radius: 4px;

}
.header {

}
.post {
    height: auto;
    overflow: visible;
    border: #1d2124;
    border-style: solid;
    border-radius: 4px;
    position: relative;	
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #b3b3b3;
}
.footer a:hover {
    color:#000;
}

.nav-item {
  color: white;
}

 /* Style the tab */
/*.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content 
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}*/

/* Change background color of buttons on hover 
.tab button:hover {
  background-color: #ddd;
}*/

/* Create an activecurrent tablink class 
.tab button.active {
  background-color: #ccc;
}*/

/* Style the tab content 
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} 
*/

* {box-sizing: border-box}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}
